
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href='newStyle.css' type='text/css' rel='stylesheet'>

<h3 style = "text-align:center">Fine Filter isn't quite done cooking, but here are some of its features we're excited to share with you:</h3>



<div class="container"><p>Your school's art history department just sent out the <em>fifteenth</em> email about the latest exhibition today? With Fine Filter, you won't even get the first email</p></div>
<div class="container"><p>Another entry from that newsletter you somehow got onto but could never quite figure out how to unsubscribe to? No hassle required, we take care of it</p></div>
<div class="container"><p>A cool new promotion for your favorite video game? That'll jump right to the top of the list</p></div>

<a href='/thankyou' class="btn btn-primary" type="button">Sounds cool!</a>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>