
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href='css/myStyle.css' type='text/css' rel='stylesheet'>

<h1>Fine Filter</h1>
<h4>Welcome to Fine Filter, the app that makes your inbox more appealing by dealing with the emails that don't matter. Ready to only deal with your important and interesting email? </h4>
<!--<button type="button" class="btn btn-primary" href='<%= getUrl() %>'>Let's get started!</button>-->
<a href='<%= getUrl() %>' class="btn btn-primary" type="button">Let's get started!</a>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>